<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/btlearn/common.css"/>
		<style type="text/css">
			.mui-bar-tab {
				height: 1rem;
				background-color: #F9F9F4;
			}
			.mui-bar-tab .mui-tab-item {
				height: 1rem;
			}
			.mui-bar-tab .mui-tab-item .mui-icon {
				font-size: 0.44rem;
				top: 0;
    			margin-bottom: 0.04rem;
			}
			.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
				font-size: 0.24rem;
			}
			.mui-bar-tab .mui-tab-item.mui-active {
				color: #30A1E6;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav blue" v-cloak>
			<a v-show="!title" class="mui-icon mui-pull-right grade" @tap.stop="showTopPannel(1)">{{gradeItem?gradeItem.pername:"学段"}}<span class="mui-icon-arrowdown"></span></a>
			<a class="mui-icon mui-pull-left" @tap="openCenter">
				<img v-if="headImg" :src="headImg" class="head-img"/>
				<svg v-else class="svg-icon" aria-hidden="true">
		            <use xlink:href="#mine" />
		       	</svg>
			</a>
			<h1 class="mui-title" v-if="!title">
				<a class="subject mui-icon" @click.stop="showTopPannel(2)">{{subjectItem?(subjectItem.subname||"科目"):"科目"}}<span class="mui-icon-arrowdown"></span></a>
			</h1>
			<h1 class="mui-title" v-else>{{title}}</h1>
		</header>
		
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" data-target="bl-test-menu">
				<span class="mui-icon">
					<svg class="svg-icon" aria-hidden="true">
			            <use xlink:href="#test" />
			        </svg>
				</span>
				<span class="mui-tab-label">组卷测试</span>
			</a>
			<a class="mui-tab-item" data-target="bl-his-menu">
				<span class="mui-icon">
					<svg class="svg-icon" aria-hidden="true">
			            <use xlink:href="#test-history" />
			        </svg>
				</span>
				<span class="mui-tab-label">历史测试</span>
			</a>
			<a class="mui-tab-item" data-target="bl-errs-menu">
				<span class="mui-icon">
					<svg class="svg-icon" aria-hidden="true">
			            <use xlink:href="#error-book" />
			        </svg>
				</span>
				<span class="mui-tab-label">错题本</span>
			</a>
			<a class="mui-tab-item" data-target="bl-analysis">
				<span class="mui-icon">
					<svg class="svg-icon" aria-hidden="true">
			            <use xlink:href="#analysis" />
			        </svg>
				</span>
				<span class="mui-tab-label">学情分析</span>
			</a>
		</nav>
		
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/vue.js" ></script>
		<!--<script type="text/javascript" src="../../js/vconsole.min.js" ></script>-->
		<script src='../../js/jquery.min.js'></script>
		
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/events.js"></script>
		
		
		<script type="text/javascript" src="../../js/btlearn/common.js" ></script>
		<script type="text/javascript">
			var self, bookMenuView, center;
			
			//认证信息
			var userInfo = store.get(window.storageKeyName.PERSONALINFO);
			var deviceParam = store.get(window.storageKeyName.PUBLICPARAMETER);
			var auth = {
				uuid: deviceParam.uuid,
				utid: userInfo.utid,
				schid: userInfo.schid,
				utname: userInfo.utname,
				token: userInfo.utoken
			}
			console.log("userInfo: ", userInfo);
			console.log("deviceParam: ", deviceParam);

			//头部
			var header = new Vue({
				el: "#header",
				data: {
					grade: {selected: 0, list: []},
					subject: {selected: 0, list: []},
					topPannel: 0, //1-grade，2-subject
					title: "",
					headImg: setImg(userInfo.imgurl)
				},
				computed: {
					gradeItem: function() {
						var selected = this.grade.list?filterArray(this.grade.list, "percode", this.grade.selected)[0]:null;
						return selected;
					},
					subjectItem: function() {
						var selected = this.subject.list?filterArray(this.subject.list, "subcode", this.subject.selected)[0]:null;
						return selected;
					}
				},
				methods: {
					//显示头部选项
					showTopPannel: function(type) {
						if(!bookMenuView) return;
						if(bookMenuView.isVisible() && this.topPannel==type){
							bookMenuView.hide();
						}else{
							var book_item = {};
							if(type==1){
								book_item = this.grade;
							}else if(type==2){
								book_item = this.subject;
							}
							mui.fire(bookMenuView, "openCover", {
								type: type, 
								book_item: book_item,
								opener_id: self.id
							});
						}
						this.topPannel = type;
					},
					// 设置目录
					setMenu: function(data,isRep) {
						console.log("设置目录")
						plus.nativeUI.showWaiting();
						var _this = this;
						//获取目录
//						blAjax("../../test_data/practice_index.json", {
						blAjax(host+"/Ycyx/Practice/index", {
							data: data||{},
							timeout: 6000,
							type: 'post',
							success: function(res){
								console.log(JSON.stringify(res));
								var rdata = JSON.parse(res.data);
								//科目
								_this.subject = {
									selected: rdata.subcode,
									list: rdata.subs||[]
								};
								//学段
								_this.grade = {
									selected: rdata.percode,
									list: rdata.pers||[]
								}
								//设置test-menu目录
								mui.fire(test_menu, "setMenu", {menu: rdata.catalogs});
							},
							fail: function(res){
								if(isRep){
									_this.setMenu({});
								}else{
									plus.nativeUI.closeWaiting();
								}
							},
							error: function(){
								if(isRep){
									_this.setMenu({});
								}else{
									plus.nativeUI.closeWaiting();
								}
							}
						});
					},
					//打开个人中心
					openCenter: function(){
						if(!center) return;
						center.show("slide-in-left", 150);
						//主窗体开始侧滑；
						self.setStyle({
							left: '70%',
							mask:"rgba(0,0,0,0.35)",
							transition: {
								duration: 150
							}
						});
					}
				}
			});
			
			var bottomHeight, navHeight, test_menu;
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				//禁止横屏
				plus.screen.lockOrientation("portrait-primary");
				
				//登录认证
//				console.log(loginUrl + userInfo.utoken);
//				mui.ajax(loginUrl+userInfo.utoken,{
//					success: function(res) {
//						console.log(JSON.stringify(res));
//						plus.storage.setItem("utname", res.utname);
//					},
//					error:function(xhr,type,errorThrown){
//						console.log(type);
//					}
//				});
				
				mui.init();
				
				bottomHeight = document.querySelector('.mui-bar-tab').offsetHeight+1;
				navHeight = document.querySelector(".mui-bar-nav").offsetHeight;
				
				//子页面
				test_menu = mui.preload({
					url: 'test-menu.html',
					id: 'bl-test-menu',
					styles: {
						top: navHeight,
		        		bottom: bottomHeight
					}
				});
				self.append(test_menu);
				
				// 获取目录
				header.setMenu({}, true);
				
				//退出
				var backButtonPress = 0;
				mui.back = function(event) {
					backButtonPress++;
					if(backButtonPress > 1) {
						plus.runtime.quit();
					} else {
						plus.nativeUI.toast('再按一次退出应用');
					}
					setTimeout(function() {
						backButtonPress = 0;
					}, 1500);
					return false;
				};
				
				//弹出层
				bookMenuView = mui.preload({
					url: 'cover.html',
					id: 'bl-cover',
					styles: {
						top: document.querySelector('header').offsetHeight+"px",
						background: "transparent"
					},
					waiting: {
						autoShow: false
					},
					show: {
						aniShow: "none",
						duration: 50
					}
				});
				
				//历史测试
				var his_index = mui.preload({
					url: 'sub-list.html',
					id: "bl-his-menu",
					styles:{
						top: navHeight,
				        bottom: bottomHeight
					}
				});
				his_index.hide();
				self.append(his_index);
				
				//错题本
				var errs_index = mui.preload({
					url: 'sub-list.html',
					id: "bl-errs-menu",
					styles:{
						top: navHeight,
				        bottom: bottomHeight
					}
				});
				errs_index.hide();
				self.append(errs_index);
				
				//学情分析
				var analysis = mui.preload({
					url: 'analysis.html',
					id: "bl-analysis",
					styles:{
						top: navHeight,
				        bottom: bottomHeight
					}
				});
				analysis.hide();
				self.append(analysis);
				
				// 测试开始页
				test_start = mui.preload({
					url: 'test-start.html',
					id: 'bl-test-start',
					styles:{
						top: "0px",
				        bottom: bottomHeight
					}
				});
				test_start.hide();
				self.append(test_start);
				
				//个人中心
				center = mui.preload({
					url: '../center/mine.html',
					id: 'bl-mine',
					styles: {
						left: 0,
						width: '70%'
					}
				});
				//关闭时，主页转回
				center.addEventListener("hide", function(){
					self.setStyle({mask: 'none'});
					self.setStyle({
							left: '0',
							transition: {
								duration: 150
							}
						});
				});
				//点击遮罩层，关闭个人中心
				self.addEventListener("maskClick", function(){
					center.hide();
				});
				
				//底部导航切换
				var activeTab = "bl-test-menu";
				mui('.mui-bar-tab').on('tap', '.mui-tab-item', function(e){
					var curTab = this.getAttribute('data-target');
					if(activeTab==curTab) { return false; }
					plus.webview.show(curTab);
					plus.webview.hide(activeTab);
					activeTab = curTab;
					var title = "";
					switch (activeTab){
						case "bl-his-menu":
							title = "历史测试";
							break;
						case "bl-errs-menu":
							title = "错题本";
							break;
						case "bl-analysis":
							title = "学情分析";
							break;
					}
					header.title = title;
				});
				
//				getUserBusFunc();
				//用户已订购套餐及功能扩展栏目
				function getUserBusFunc() {
					var enData1 = {};
					//不需要加密的数据
					var comData1 = {
						uuid: deviceParam.uuid, //用户设备号
						uid: userInfo.uid, //用户账号
						utoken: userInfo.utoken, //用户令牌
						appid: deviceParam.appid //系统所分配的应用ID
					}
					plus.nativeUI.showWaiting();
					//发送网络请求，data为网络返回值
					postDataEncry('GetUserBusFunc', enData1, comData1, 0, function(data1) {
						console.log('GetUserBusFunc:' + JSON.stringify(data1));
						plus.nativeUI.closeWaiting();
						if(data1.RspCode == 0) {
							if(data1.RspData) {
								userInfo.packageCount = data1.RspData.userbus.length; //套餐是否绑定学生
								store.set(window.storageKeyName.PERSONALINFO, userInfo);
								if(userInfo.packageCount > 0 ) {
									
								} else {
									
								}
							} else {
								userInfo.packageCount = 0; //套餐是否绑定学生
								store.set(window.storageKeyName.PERSONALINFO, userInfo);
//								contentData.showFlag = 1;
							}
						} else {
							mui.toast(data1.RspTxt);
						}
					});
				}
				
				// 刷新数据
				window.addEventListener("refresh", function(e){
					his_index.reload();
					errs_index.reload();
					mui.fire(analysis, "refresh");
					var als_detail = plus.webview.getWebviewById('bl-analysis-detail');
					als_detail && mui.fire(als_detail, "refresh");
				});
				
				//弹出层关闭
				window.addEventListener("coverHide", function(e){
					if(e.detail.type==1){ //grade
						if(header.grade.selected!=e.detail.selected_id){
							header.grade.selected = e.detail.selected_id;
							header.setMenu({percode: header.grade.selected});
						}
					}else if(e.detail.type==2){ //subject
						if(header.subject.selected!=e.detail.selected_id){
							header.subject.selected = e.detail.selected_id;
							header.setMenu({percode: header.grade.selected, subcode: header.subject.selected});
						}
					}
				});
				
				//修改头像
				window.addEventListener("home_setHeadImg", function(e){
					header.headImg = e.detail.imgurl;
				});
				
			});
		</script>
	</body>

</html>