<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/btlearn/common.css"/>
		<style type="text/css">
			.kn-menu .label-wrapper {
				padding: 0.3rem 1rem 0.3rem 0.2rem;
				border-bottom: 1px solid #ECECEC;
				position: relative;
			}
			.kn-menu .label-icon {
				margin-right: -0.3rem;
				vertical-align: middle;
			}
			.kn-menu .label-name {
				vertical-align: middle;
			}
			.kn-menu .label-icon + .label-name {
				padding-left: 0.4rem;
			}
			.label-wrapper .done-box {
				display: inline-block;
				width: 0.32rem;
				height: 0.32rem;
				border: 1px solid #4AC058;
				border-radius: 2px;
				text-align: center;
				line-height: 0.22rem;
				position: absolute;
				right: 0.6rem;
				top: 50%;
				margin-top: -0.16rem;
			}
		</style>
	</head>

	<body>
			
		<div id="testMenu" class="mui-content">
			<div class="kn-menu" v-cloak>
				<tree-menu v-for="(model, i) in menu" :model="model" :key="i" :depth="0" @node-click="selectNode"></tree-menu>
				<p v-if="!menu.length&&isLoaded"  style="padding: 0.3rem;">暂无目录</p>
			</div>
		</div>
		
		<script type="text/x-template" id="tree-menu">
			<div class="tree-item">
				<div v-if="model.children&&model.children.length" class="label-wrapper mui-ellipsis" @tap="toggleChildren" :style="indent">
					<i class="label-icon" :class="iconClasses"></i>
					<span class="label-name">{{model.name}}</span>
				</div>
				<div v-else class="label-wrapper mui-ellipsis" @tap="nodeClick(model)" :style="indent">
					<span class="label-name">{{model.name}}</span>
					<span v-if="model.is_finish" class="done-box icon-true"></span>
				</div>
				<tree-menu v-show="showChildren" v-for="(node, k) in model.children" :model="node" :depth="depth + 1" :key="k" @node-click="outClick">
				</tree-menu>
			</div>
		</script>
		
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/vue.js" ></script>
		<!--<script type="text/javascript" src="../../js/vconsole.min.js" ></script>-->
		<!--<script type="text/javascript" src="../../js/layer/mobile/layer.js"></script>-->
		<script src='../../js/jquery.min.js'></script>
		
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/events.js"></script>
		
		<script type="text/javascript" src="../../js/btlearn/common.js" ></script>
		<script type="text/javascript">
			
			mui.init();
			
			var self, bookMenuView;
			
			mui.plusReady(function(){
				self = plus.webview.currentWebview();

			});
			
			//树形菜单
			Vue.component('tree-menu', {
				template: '#tree-menu',
				props: ['model','depth'],
				data: function() {
					return {
						showChildren: false
					}
				},
				computed: {
					iconClasses: function() {
						return {
							'icon-arrow-up': !this.showChildren,
							'icon-arrow-down': this.showChildren
						}
					},
					indent: function() {
					      return this.depth>0 ? { 'padding-left': this.depth*0.55+"rem" } : null;
					}
				},
				methods: {
					closeChild: function(model) {
						var _this = this;
						var chd = model.$children;
						chd.forEach(function(v){
							if(v.model&&v.model.id!=_this.model.id) {
								v.showChildren = false;
								v.$children && _this.closeChild(v);
							}
						});
					},
					toggleChildren: function() {
						this.showChildren = !this.showChildren;
						//关闭其它层
						if(this.showChildren) {
							var parent = this.$parent;
							parent && this.closeChild(parent);
						}
					},
					nodeClick: function(model){
		                this.$emit('node-click', model);
		            },
		            outClick: function(model){
		                this.$emit('node-click', model);
		            }
				}
			});
			
			var testMenu = new Vue({
				el: "#testMenu",
				data: {
					menu: [],
					isLoaded: false
				},
				methods: {
					//选择节点
					selectNode: function(model) {
						plus.nativeUI.showWaiting();
						// 向 开始页 传递数据
						commonAjax("/Ycyx/Practice/schedule", {
							data: {
								catalogId: model.id
							},
							type: 'get',
							timeout: 5000,
							success: function(res) {
								console.log(res);
								var test_start = plus.webview.getWebviewById("bl-test-start");
								mui.fire(test_start, "getData", {
									title: model.name, 
									catalogId: model.id,
									difficulty: JSON.parse(res.data).schedule.difficulty_level_id
								});
								test_start.show();
								plus.nativeUI.closeWaiting();
							},
							fail: function(res) {
								plus.nativeUI.closeWaiting();
							},
							error: function() {
								plus.nativeUI.closeWaiting();
							}
						});
					}
				}
			});
			
			window.addEventListener("setMenu", function(e){
				console.log(e.detail);
				testMenu.menu = e.detail.menu;
				testMenu.$nextTick(function(){
//					plus.nativeUI.closeWaiting();
					if(!testMenu.isLoaded) testMenu.isLoaded = true;
				});
			});
			
		</script>
	</body>

</html>